<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="confirmModalCloseBtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmModalCancelBtn">Cancel</button>
                </div>
                <div class="col-lg-6">
                    <button id="saveBtn" type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#saveBtn').on('click',
        function() {
            $('#createSoftwareReleaseForm').submit();
        })
</script>