<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YPrime.Data.Study.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="StudyContext" connectionString="${YP_StudyContext}" providerName="System.Data.SqlClient" />
    <!--<add name="GaryConnection" connectionString="data source=az-irtsqldev01.cloudapp.net;initial catalog=YPrime_eCOA-Sandbox-Bill-Gary;persist security info=True;user id=ixradmin1;password=GS430!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <userSettings>
    <YPrime.Data.Study.Properties.Settings>
      <setting name="Protocol" serializeAs="String">
        <value>Base 3.1</value>
      </setting>
      <setting name="StudyName" serializeAs="String">
        <value>Base 3.1</value>
      </setting>
      <setting name="StudySponsor" serializeAs="String">
        <value>Y-Prime</value>
      </setting>
      <setting name="PredictiveResupplyEXEPath" serializeAs="String">
        <value>D:\AutomaticResupply\Base_3_3\PredictiveResupply.exe</value>
      </setting>
      <setting name="MergeEXEPath" serializeAs="String">
        <value>D:\Data_Transfers\Base_3_0\MergeDataTransfer.exe</value>
      </setting>
      <setting name="BaseDirectory" serializeAs="String">
        <value>http://val-yprime-develop.eclinicalcloud.net/YPrime_DevelopStudyPortal/</value>
      </setting>
      <setting name="ApplicationPath" serializeAs="String">
        <value>./StudyPortal/</value>
      </setting>
      <setting name="README" serializeAs="String">
        <value>Check with your manager on proper settings here some study customs, jobs, views, synonyms all depend from settings here.</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>DEV</value>
      </setting>
      <setting name="SeedSQLScripts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeedCoreData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SeedPermissions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StudyId" serializeAs="String">
        <value>265326f4-e285-4117-a8ba-915d5373bd1f</value>
      </setting>
    </YPrime.Data.Study.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4619.0" newVersion="1.50.4619.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>