@{
    ViewBag.Title = "DCF Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        @Html.Partial("~/Views/UI/HomeLink.cshtml", new {})
    </li>
    <li>
        <a href="#">DCF Request</a>
    </li>
</ul>