<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="StudyId"
			 value="#{StudyId}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="AppEnvironment"
			 value="#{ENV}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="AppInventoryEnvironmentName"
		     value="#{AppInventoryEnvironmentName}#"
		     xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeAuthURL"
			 value="#{YP_YPrimeAuthURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeConfigBlobURL"
			 value="#{YPrimeConfigBlobURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="SharePathBase"
			 value="#{YP_SharePathBase}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="StudyBuilderApiBaseURL"
			 value="#{YP_StudyBuilderApiBaseURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="AppEnvironment"
			 value="#{ENV}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="SlidingCacheExpirationSeconds"
		   value="#{SlidingCacheExpirationSeconds}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeNotificationScheduleUrl"
		   value="#{YPrimeNotificationScheduleUrl}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="HMACAuthSharedKey"
		   value="#{HMACAuthSharedKey}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeNotificationServiceApiKey"
		   value="#{YPrimeNotificationServiceApiKey}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="KeyVaultName"
		  value="#{KeyVaultName}#"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Auth.Domain"
		 value="#{Auth.Domain}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Auth.ApiIdentifier"
		 value="#{Auth.ApiIdentifier}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.Audience.AAM"
		 value="#{Auth.Audience.AAM}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.Audience.SB"
		 value="#{Auth.Audience.SB}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.ClientId.M2M"
		 value="#{Auth.ClientId.M2M}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.ClientSecret.M2M"
		 value="#{Auth.ClientSecret.M2M}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

  <connectionStrings>
    <add name="elmah"
         connectionString="#{YP_elmah}#-Services"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="AuthContext"
         connectionString="#{YP_AuthContext}#-Services"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="StudyContext"
         connectionString="#{YP_StudyContext}#-Services"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true"
              xdt:Transform="Replace"/>
    <!--
      <compilation xdt:Transform="RemoveAttributes(debug)" />
  
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah"
              applicationName="#{YP_applicationName}#-Services"
              xdt:Transform="SetAttributes"
              xdt:Locator="Condition(@applicationName='ePRO Services - Dev')" />
  </elmah>
</configuration>