/*****************
Taken from:

http://bootsnipp.com/snippets/featured/simple-vertical-tab
****************/


/*  bhoechie tab */
div.bhoechie-tab-container {
    -moz-border-radius: 4px;
    /*margin-top: 20px;
  margin-left: 50px;*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    filter: alpha(opacity=97);
    opacity: 0.97;
    padding: 0 !important;
    z-index: 10;
}

div.bhoechie-tab-menu {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

div.bhoechie-tab-menu div.list-group { margin-bottom: 0; }

div.bhoechie-tab-menu div.list-group > a { margin-bottom: 0; }

div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
    /*color: #5A55A3;*/
    color: rgb(51, 122, 183);
}

div.bhoechie-tab-menu div.list-group > a:first-child {
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a:last-child {
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
    background-color: rgb(51, 122, 183);
    background-image: rgb(51, 122, 183);
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group > a.active:after {
    border-bottom: 13px solid transparent;
    border-left: 0;
    border-left: 10px solid rgb(51, 122, 183);
    border-top: 13px solid transparent;
    content: '';
    left: 100%;
    margin-top: -13px;
    position: absolute;
    top: 50%;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) { display: none; }


/*YPrime Updates*/

div.bhoechie-tab {
    overflow: auto;
    padding-bottom: 20px;
}