/***********************
YPrimeDrugReturnKit.css
J Osifchin
24 Feb 2017
Css styles to control the drug return control
************************/

.drugkitreturn { }

.drugkitreturn .btn {
    border-radius: 0px;
    float: left;
    height: 4.25em;
    line-height: 1.55em;
    margin-right: 4px;
    margin-top: 0px;
    padding: 0.75em !important;
    text-align: center;
    white-space: normal !important;
    width: 8em; /*11em;*/
}

.drugkitreturn .btn span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.drugkitreturn .btn span.med { font-size: 12px; }

.drugkitreturn td { font-size: 13px; }

.attribute h4 { border-bottom: 1px solid #ccc; }

.attribute-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: .5em;
}

.attribute-container input { width: 10em; }

.attribute-text { text-align: right; }

.attribute-container div { margin-bottom: .25em; }

.drugkit-card { padding: 0; }

.drugkit-card > div {
    border: 1px solid #ccc;
    margin: 0.5em;
}

.drugkit-card > div > div:first-child {
    background-color: #113058;
    color: #ffffff;
    font-size: 1em;
    height: 3.25em;
    padding: 1em 0;
}

.drugkit-card .content {
    background-color: rgba(243, 243, 243, 1);
    display: table-cell;
    padding: 1em;
}


.form-control.pillcount { width: 6em; }