<?xml version="1.0" encoding="utf-8"?>

<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="StudyContext"
         connectionString="#{YP_StudyContext}#-StudyPortal"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <userSettings>
    <YPrime.Data.Study.Properties.Settings>

      <setting name="Protocol" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">#{Protocol-Name}#</value>
      </setting>

      <setting name="StudyName" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">#{Protocol-Name}#</value>
      </setting>

      <setting name="StudySponsor" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">#{Sponsor}#</value>
      </setting>

      <setting name="Environment" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">#{YP_Environment}#</value>
      </setting>

      <setting name="SeedStudyCustoms" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">#{YP_SeedStudyCustoms}#</value>
      </setting>

      <setting name="SeedSQLScripts" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">#{YP_SeedSQLScripts}#</value>
      </setting>

    </YPrime.Data.Study.Properties.Settings>
  </userSettings>

</configuration>