<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="elmah"
         connectionString="#{YP_elmah}#-StudyPortal"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="AuthContext"
         connectionString="#{YP_AuthContext}#-StudyPortal"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="StudyContext"
         connectionString="#{YP_StudyContext}#-StudyPortal"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

  </connectionStrings>

	<appSettings>

		<add key="YPrimeAuthURL"
			 value="#{YP_YPrimeAuthURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeConfigBlobURL"
			 value="#{YPrimeConfigBlobURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeJwtURL"
			 value="#{YP_YPrimeJwtURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeIPTimezoneURL"
			 value="#{YP_YPrimeIPTimezoneURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeTimezoneFieldName"
			 value="#{YP_YPrimeTimezoneFieldName}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeTimezoneAddress"
			 value="#{YP_YPrimeTimezoneAddress}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrime.PrimeInventoryAPIUrl"
			 value="#{YP_YPrime.PrimeInventoryAPIUrl}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrime.StudyAPIBaseURL"
			 value="#{YP_YPrime.StudyAPIBaseURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="StudyBuilderApiBaseURL"
			 value="#{YP_StudyBuilderApiBaseURL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeEmailConfirmationImagesPath"
			value="#{YP_YPrimeEmailConfirmationImagesPath}#"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="StudyBuilderApiCookieName"
			  value="#{YP_StudyBuilderApiCookieName}#"
			  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrime.PatientPortalUrl"
			 value="#{YP_YPrime.PatientPortalUrl}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="AppEnvironment"
			 value="#{ENV}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="AppInventoryEnvironmentName"
		     value="#{AppInventoryEnvironmentName}#"
		     xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeLogoURL"
			 value="#{YP_Logo_URL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="ZenDeskDCFCustomFields"
			 value="#{ZenDesk_DCF_Custom_Fields}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="ZenDeskDCFGroupID"
			 value="#{ZenDesk_DCF_Group_ID}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="ZenDeskDCFURL"
			 value="#{ZenDesk_DCF_URL}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="ZenDeskDCFUserID"
			 value="#{ZenDesk_DCF_User_ID}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="ZenDeskDCFUserToken"
			 value="#{ZenDesk_DCF_User_Token}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Protocol"
			 value="#{YP_Protocol}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="StudyId"
			 value="#{StudyId}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="QuestionnaireComplianceId"
			 value="#{QuestionnaireComplianceId}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="StudySponsor"
			 value="#{YP_StudySponsor}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="SponsorID"
			value="#{SponsorID}#"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="LogFileName"
			 value="#{YP_LogFileName}#"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Condition(@key='LogFileName' and @value='D:\Sites\YPrime_Develop\YPrime_DevelopStudyPortal\Log')" />

		<add key="YPConnectEnvironment"
			 value="#{YP_YPConnectEnvironment}#"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="CacheExpirationSeconds"
		   value="#{CacheExpirationSeconds}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="SlidingCacheExpirationSeconds"
		   value="#{SlidingCacheExpirationSeconds}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeNotificationScheduleUrl"
		   value="#{YPrimeNotificationScheduleUrl}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="HMACAuthSharedKey"
		   value="#{HMACAuthSharedKey}#"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="YPrimeNotificationServiceApiKey"
		  value="#{YPrimeNotificationServiceApiKey}#"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="KeyVaultName"
		  value="#{KeyVaultName}#"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.Audience.AAM"
		 value="#{Auth.Audience.AAM}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.Audience.SB"
		 value="#{Auth.Audience.SB}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.ClientId.M2M"
		 value="#{Auth.ClientId.M2M}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.ClientId"
		 value="#{Auth.ClientId}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Auth.ClientSecret.M2M"
		 value="#{Auth.ClientSecret.M2M}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Auth.Domain"
		 value="#{Auth.Domain}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Auth.RedirectUri"
		 value="#{Auth.RedirectUri}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="Auth.PostLogoutRedirectUri"
		 value="#{Auth.PostLogoutRedirectUri}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="StudyType"
		 value="#{StudyType}#"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

	</appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <sessionState timeout="15" mode="SQLServer" sqlConnectionString="#{YP_sessionState}#-StudyPortal"
                  xdt:Transform="SetAttributes"
                  xdt:Locator="Condition(@timeout='10' or @mode='SQLServer')" />

  </system.web>

  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah"
              applicationName="#{YP_applicationName}#-StudyPortal"
              xdt:Transform="SetAttributes"
              xdt:Locator="Condition(@applicationName='eCOAStudyPortal-Dev')" />
  </elmah>
  <applicationSettings>
    <YPrime.BusinessLayer.Properties.Settings>

    </YPrime.BusinessLayer.Properties.Settings>
  </applicationSettings>

  <system.webServer>

    <rewrite xdt:Transform="Remove" />

  </system.webServer>

</configuration>