<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SharePathBase" value="D:\Sites\YPrime_Base3\Release3-eCOAStudyPortal" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthURL" value="https://val-yprimelogin.eclinicalcloud.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthCookieName" value="VAL-ssoAuthentication" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthCookieDomain" value=".eclinicalcloud.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthValidateInterval" value="5" />
    <add key="YPrime.PooledMaterialSystemApi" value="https://val-base3.eclinicalcloud.net/Release3-PooledMaterialSystem/api/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
    <add key="YPrime.PrimeInventoryAPIUrl" value="https://val-primeinventory.eclinicalcloud.net/WebAPI/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
    <add key="YPrime.Environment" value="DEV" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes"  />
    <add key="ConciergeEnvironment" value="VAL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="AppInsightsiKey" value="90b51f69-290a-49af-a27b-7203d4f01b61" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="StudyName" value="Y-Prime Base 3.0" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes"  />
    <add key="StudyProtocol" value="Y-Prime Base 3.0-IRTeCOA" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes"  />

  </appSettings>
  <connectionStrings>
    <add name="StudyContext"
         connectionString="data source=AZ-IRTSQLVAL01;initial catalog=YPrime_Release3-eCOA;persist security info=true;user id=ixradmin1;password=GS430!;multipleactiveresultsets=true;app=entityframework"
         providerName="system.data.sqlclient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
    <add name="PooledMaterialSystemContext"
           connectionString="data source=AZ-IRTSQLVAL01;initial catalog=YPrime_Release3_PooledMaterialSystem;persist security info=true;user id=ixradmin1;password=GS430!;multipleactiveresultsets=true;app=entityframework"
           providerName="system.data.sqlclient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
    <add name="elmah"
       connectionString="server=AZ-IRTSQLVAL01;database=ELMAH-ErrorLog;uid=ixradmin1;password=GS430!;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
  </connectionStrings>
  <appSettings>


  </appSettings>

  <system.web>
    <!--<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes"></customErrors>-->
    <!-- this is changed for now for testing in val-->
    <customErrors mode="Off" xdt:Transform="SetAttributes"></customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms">
      <forms loginUrl="https://val-yprimelogin.eclinicalcloud.net" xdt:Transform="SetAttributes(loginUrl)" />
      <forms name="VAL-ssoAuthentication" xdt:Transform="SetAttributes(name)" />
    </authentication>
    <sessionState timeout="5" mode="SQLServer" sqlConnectionString="data source=az-irtsqlval01.cloudapp.net;user id=ixradmin1;password=GS430!;Application Name=yprime" xdt:Transform="SetAttributes"/>
  </system.web>
  <system.webServer>
    <applicationInitialization remapManagedRequestsTo="" skipManagedModules="false" doAppInitAfterRestart="true" xdt:Transform="Insert">
      <add initializationPage="/Patient" />
    </applicationInitialization>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="Transport" xdt:Transform="SetAttributes(mode)" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <applicationSettings>
    <YPrime.BusinessLayer.Properties.Settings>
      <setting name="EmailApiUrl" serializeAs="String" xdt:Transform="Replace">
        <value>http://val-yprimelogin.eclinicalcloud.net/api/</value>
      </setting>
    </YPrime.BusinessLayer.Properties.Settings>
  </applicationSettings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="Release3-eCOAStudyPortal-VAL"
                      xdt:Transform="SetAttributes" xdt:Locator="Match(type)"
              />
  </elmah>
</configuration>