<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SharePathBase" value="E:\inetpub\Sites\YPeCOA_Demo\YPeCOAIRT_DemoStudyPortal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ShareComputerName" value="az-demoweb01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthURL" value="http://demo-yprimelogin.eclinicalcloud.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthCookieName" value="DEMO-ssoAuthentication" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrimeAuthCookieDomain" value=".eclinicalcloud.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrime.PrimeInventoryAPIUrl" value="http://dev-primeinventory.eclinicalcloud.net/WebAPI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="YPrime.Environment" value="DEMO"/>
    <add key="YPrime.PooledMaterialSystemApi" value="http://yprimedemo-3-0.eclinicalcloud.net/YP_3_0PooledMaterialSystem/api/" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="StudyContext"
          connectionString="data source=az-demo01;initial catalog=YPeCOAIRT_Demo_301;persist security info=true;user id=ixradmin1;password=GS430!;multipleactiveresultsets=true;app=entityframework"
          providerName="system.data.sqlclient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
    <add name="PooledMaterialSystemContext"
         connectionString="data source=az-demo01;initial catalog=YP_3_0_Pooled_Material_System;persist security info=true;user id=ixradmin1;password=GS430!;multipleactiveresultsets=true;app=entityframework"
         providerName="system.data.sqlclient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
    <add name="elmah"
       connectionString="server=az-demo01;database=ELMAH-ErrorLog;uid=ixradmin1;password=GS430!;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="http://demo-yprimelogin.eclinicalcloud.net" xdt:Transform="SetAttributes(loginUrl)" />
      <forms name="DEMO-ssoAuthentication" xdt:Transform="SetAttributes(name)" />
    </authentication>
    <sessionState timeout="5" mode="SQLServer" sqlConnectionString="data source=az-demo01;user id=ixradmin1;password=GS430!;Application Name=yprime" xdt:Transform="SetAttributes"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="eCOAStudyPortal-Demo" xdt:Transform="SetAttributes" xdt:Locator="Match(type)" />
  </elmah>
  <applicationSettings>
    <YPrime.StudyPortal.Properties.Settings>
      <setting name="EmailApiUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://demo-yprimelogin.eclinicalcloud.net/api/</value>
      </setting>
    </YPrime.StudyPortal.Properties.Settings>
  </applicationSettings>
</configuration>