<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8962376a-03e2-44a3-8c90-e62403de6736/resourceGroups/demo-yprime/providers/Microsoft.Web/sites/demo-yprime</ResourceId>
    <ResourceGroup>demo-yprime</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demo-yprime.azurewebsites.net/StudyPortal</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>demo-yprime.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>demo-yprime</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$demo-yprime</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PooledMaterialSystemContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=az-irtsqldev01;Initial Catalog=Release3_3_1-IRTeCOA_PooledMaterialSystem;Persist Security Info=True;User ID=ixradmin1;Password=GS430!;Application Name=ECOA_StudyPortal_Develop" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PooledMaterialSystemContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=az-irtsqldev01;initial catalog=Release3_3_1-IRTeCOA_PooledMaterialSystem;persist security info=True;user id=ixradmin1;password=GS430!;MultipleActiveResultSets=True;App=ECOA_StudyPortal_Develop" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StudyContext" Order="2" Enabled="False">
          <Destination Path="Data Source=az-appsql01.database.windows.net;Initial Catalog=demo-yprime;Persist Security Info=True;User ID=ypadmin;Password=Welcome01!;Application Name=ECOA_StudyPortal_Develop" Name="data source=az-appsql01.database.windows.net;initial catalog=demo-yprime;persist security info=True;user id=ypadmin;password=Welcome01!;MultipleActiveResultSets=True;App=ECOA_StudyPortal_Develop" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=az-appsql01.database.windows.net;Initial Catalog=demo-yprime;Persist Security Info=True;User ID=ypadmin;Password=Welcome01!;Application Name=ECOA_StudyPortal_Develop" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StudyContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=az-appsql01.database.windows.net;initial catalog=demo-yprime;persist security info=True;user id=ypadmin;password=Welcome01!;MultipleActiveResultSets=True;App=ECOA_StudyPortal_Develop" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=AZ-IRTSQLDEV01;Initial Catalog=YPrime_Authentication;Persist Security Info=True;User ID=ixradmin1;Password=GS430!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=AZ-IRTSQLDEV01;Initial Catalog=YPrime_Authentication;persist security info=True;user id=ixradmin1;password=GS430!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="elmah" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=az-irtsqldev01.cloudapp.net;database=ELMAH-ErrorLog;uid=ixradmin1;password=GS430!;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=az-irtsqldev01.cloudapp.net;database=ELMAH-ErrorLog;uid=ixradmin1;password=GS430!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AuthContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elmah-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PooledMaterialSystemContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StudyContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>data source=az-appsql01.database.windows.net;initial catalog=demo-yprime;persist security info=True;user id=ypadmin;password=Welcome01!;MultipleActiveResultSets=True;App=ECOA_StudyPortal_Develop</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>