@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="breadcrumb">
        <li>
            @Html.Partial("~/Views/UI/HomeLink.cshtml", new { })
        </li>
        <li>
            <a href="#">
                <em class="fa fa-mobile"></em>
                Device Management
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <h2>Device Management</h2>

        <div class="container-fluid">
            <div class="table-responsive">
                <table id="devices" aria-label="Devices" class="table table-striped table-bordered display" cellspacing="0" width="100%">                   
                    <thead>
                        <tr>
                            <th scope="col">Site Name</th>
                            <th scope="col">Device Name</th>
                            <th scope="col">Device Type</th>
                            <th scope="col">Release Name</th>
                            <th scope="col">Software Version</th>
                            <th scope="col">Configuration Version</th>
                            <th scope="col">Last Reported Software Version</th>
                            <th scope="col">Last Reported Configuration Version</th>
                            <th scope="col">Last Data Sync</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">Site Name</th>
                            <th scope="col">Device Name</th>
                            <th scope="col">Device Type</th>
                            <th scope="col">Release Name</th>
                            <th scope="col">Software Version</th>
                            <th scope="col">Configuration Version</th>
                            <th scope="col">Last Reported Software Version</th>
                            <th scope="col">Last Reported Configuration Version</th>
                            <th scope="col">Last Data Sync</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(function() {
        $('#devices').DataTable({
            ajax: {
                url: '@Url.Action("GetDevicesGridData", "Devices")',
                dataSrc: function(data) {
                    return data;
                }
            },
            columns: [
                {
                    data: 'SiteName'
                },
                {
                    data: 'DeviceDrilldownButtonHTML'
                },
                {
                    data: 'DeviceTypeName'
                },
                {
                    data: 'SoftwareReleaseName'
                },
                {
                    data: 'AssignedSoftwareVersionNumber'
                },
                {
                    data: 'AssignedConfigurationVersionNumber'
                },
                {
                    data: 'LastReportedSoftwareVersionNumber'
                },
                {
                    data: 'LastReportedConfigurationVersionNumber'
                },
                {
                    render: function(data, type, row) {
                        return moment(row.LastDataSyncDate).format('DD-MMM-YYYY HH:mm');
                    }
                }
            ]
        });
    })

</script>