<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dev-yprime-develop.eclinicalcloud.net/YPrime_DevelopServices/help</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>AZ-IRTWEBDEV01:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>YPrime_Develop\YPrime_DevelopServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>y-prime\apeazzoniadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StudyContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:az-IRTSQLDEV01.cloudapp.net;Pooling=True;initial catalog=YPrime_eCOA-Sandbox;Persist Security Info=True;User ID=ixradmin1;Password=GS430!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StudyContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:az-IRTSQLDEV01.cloudapp.net;Pooling=True;initial catalog=YPrime_eCOA-Sandbox;persist security info=True;user id=ixradmin1;password=GS430!;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="elmah" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=AZ-IRTSQLDEV01;database=ELMAH-ErrorLog;uid=ixradmin1;password=GS430!;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=AZ-IRTSQLDEV01;database=ELMAH-ErrorLog;uid=ixradmin1;password=GS430!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:AZ-IRTSQLDEV01;Pooling=True;Initial Catalog=YPrime_Authentication;Persist Security Info=True;User ID=ixradmin1;Password=GS430!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:AZ-IRTSQLDEV01;Pooling=True;Initial Catalog=YPrime_Authentication;persist security info=True;user id=ixradmin1;password=GS430!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <PublishProvider>AzureVirtualMachine</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)elmah-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StudyContext-Web.config Connection String" />
  </ItemGroup>
</Project>